# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.2D Shooting Test.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hatin\UnityProjects\Unity Game Programming Bible 2nd\Csharp\2D Shooting Test\.idea\.idea.2D Shooting Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
